body {
	background-color: lightblue;
	background-image: url(roma2.jpg);
	background-repeat: no-repeat;
	background-position: center top;

}

h1 {
	font-family:arial,tahoma,helvetica,sans-serif;
	font-weight: bold;
	color: black;
	font-size: 15pt
}

div {
	border: 15px solid brown;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 10px 10px 10px 10px;
	background-color: white;
    background-color: rgba(255, 255, 255, 0.7); 
	width: 250px;
	height: 150px;
	top: 20%;
	left: 50%;
	margin-top: -100px;
	margin-left: -250px;
	position: absolute;
}

p{
	font-size: 12pt;
	font-family: arial,sans-serif;
	text-align: justify;
}