

p{
	font-size: 18pt;
	font-family: arial,sans-serif;
	text-align:center;
	text-align: justify;
}

div {
text-align:center;
	border: 20px solid black;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 3px 60px 3px 60px;
	background-color: lightgray;
}